{
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 140,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"singleAttributePerLine": true
}
